.account-Box {
    width: 800px;
    height: 600px;
    border-radius: 50px;
    border: 4px solid aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
}

.background {
    display: flex;
    flex: content;
    justify-content: center;
    padding: 15vh;
}

.xxx-largBox {
    width: 900px;
    height: 800px
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input[type=text]:focus {
    background-color: #454b4e;
    padding: 30px;
}

.form-container button:hover {
    cursor: pointer;
}

.text {
    color: #2ca7ee;
    border: none;
    background-color: transparent;
    
}

.text :hover {
    color: #2ca7ee
}

.text h2 {
    color: #2ca7ee;
    align-self: center;
    font-weight: 700;
}

.button {
    align-self: center;
    border-radius: 25px;
    background-color: transparent;
    width: 500px;
    height: 80px;
    margin: 10px;
    border: 3px solid #2ca7ee;
    color: #2ca7ee;
}

.form-container h2 {
    align-self: center;
    color: aliceblue;
}
.form-container a {
    align-self: center;
    color: #2ca7ee;
}

.form-container input{
    align-self: center;
   background-color: transparent;
   border: 3px solid aliceblue;
   border-radius: 25px;
   width: 500px;
   height: 80px;
   font-size: x-large;
   color: aliceblue;
   text-align: center;
   margin: 30px;
}
