body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button :hover {
    cursor: pointer;
}


.Background {
    background-color: #282c34;
    min-height: 100vh;
}

.Header-Center {
    display: flex;
    flex: auto;
}

.Header-Containter {
    max-height: 8vh;
    flex: auto;
    flex-direction: row;
    display: flex;
    background-color: #81817f59;

    align-items: center;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: white;
}

.navbar button :hover {
    cursor: pointer;
    color: #2ca7ee
}


.Margin-2 {
    margin-left: 2%;
}

.Margin-10 {
    margin-left: 10%;
}

.Header1 {
    font-size: calc(10px + 2vmin);
}

.Header2 {
    font-size: calc(12px + 1vmin);
}

.navbar {
    flex: auto;
    display: flex;
}

.Account-Container {
    justify-content: flex-end;
    padding: 2%;    
}



.navbar a {
    text-decoration: none;
    padding: 6px;
    color: white;
}

.navbar a:hover {
    color: #2ca7ee
}