.container {
    display: flex;
    margin: 50px;
    padding: 0%;
    justify-content: center;
}

.boxContent button {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #f0f8ff;
    display: flex;
    margin: 10px;
    margin-top: 30px;
}

.boxContent h3 {
    color: aliceblue;
    font-size: larger;
    font-weight: 700;
}

